.compare-title {
  display: flex;
  align-items: center;
  font-size: 22px;
  font-weight: 700; /* IN ĐẬM */
  color: #0b7a75;
  margin-bottom: 20px;
}

.compare-title::before {
  content: "";
  width: 4px;
  height: 28px;
  background-color: #0b7a75;
  margin-right: 12px;
  border-radius: 2px;
}
