html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.login-container {
  width: 100vw;
  height: 100dvh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("../images/uth_bg.jpg");
  background-size: cover;
  background-position: center;
}

.login-box {
  width: 360px;
  padding: 30px;
  background: white;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.login-logo {
  width: 280px;
  margin-bottom: 10px;
}

.login-box h2 {
  margin-bottom: 20px;
  color: #231742;
}

/* ===== INPUT CHUNG ===== */
.login-box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 14px;
}

.login-box input:focus {
  outline: none;
  border-color: #008689;
  box-shadow: 0 0 0 1px rgba(0, 134, 137, 0.3);
}

/* ===== PASSWORD ===== */
.password-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 12px;
}

.password-wrapper input {
  width: 100%;
  padding: 12px;
  padding-right: 42px; /* chừa chỗ icon */
  box-sizing: border-box;
  font-size: 15px;
}

/* ICON CON MẮT */
.toggle-password {
  position: absolute;
  right: 10px;
  top: 40%;
  transform: translateY(-50%);
  width: 15px;       /* 👈 nhỏ lại */
  height: 18px;
  cursor: pointer;
  opacity: 0.95;     /* 👈 xám nhẹ giống text */
}

.toggle-password:hover {
  opacity: 0.7;
}



/* ===== BUTTON ===== */
.login-box button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #008689;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.login-box button:hover {
  background: #23a7a9;
}

/* ===== FORGOT ===== */
.forgot-password {
  margin-top: 12px;
}

.forgot-password a {
  font-size: 14px;
  color: #0a4fa3;
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
}

/* ===== ERROR ===== */
.error {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}
/* Tắt icon con mắt mặc định của trình duyệt (Edge / Chrome) */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

/* Chrome / Edge Chromium */
input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-textfield-decoration-container {
  display: none !important;
}
